.cover, .bricks, .covergain {
    width:100%;
    height:100vh;
}

.cover {
    position:relative;
}
.bricks {
    position:absolute;
    top:0;
    left:0;
    right:0;
    background: url('../../../public/bricks.svg') no-repeat fixed;
    background-size:cover;
}
.covergain {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background: url('../../../public/artbro.svg') no-repeat center;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: flex-start;

}
.arrowBox {
    position:absolute;
    width:100%;
    bottom:2rem;
}
.arrow {
    position:absolute;
    bottom:2rem;
    right:calc(max(6vw, 2rem));
    svg {
        width:3rem;
        margin-right:2rem;
        stroke:#000;
        fill:#000;
        stroke-width:0;
        stroke-miterlimit: 10;
        transition:stroke-width ease 300ms, transform ease-in-out 500ms; 
        &:hover {
            stroke-width:200;
            cursor: pointer;
            transform:rotate(180deg);
        }
    }
}
.title {
    font-size: 3.5rem;
    span {
        color:#5C7464;
    }
    margin-top:2rem;
}

