.content {
    padding:1rem;
    padding-top:0rem;
    padding-bottom:2rem;
    p, li {
        font-family : "Roboto";
    }
    ul {
        list-style-type:disc !important;
        margin-left:1rem;
    }
    .header {
        margin-right:2rem;
        font-size:2rem;
        color:var(--primary);
        font-weight:600;
    }
    .subheader {
        padding-top:1rem;
        color:var(--primary);
        font-size:1.5rem;
    }
}


.box {
    @media (min-width: 768px) {
        width: 700px;
    }
    @media (min-width: 992px) {
        width: 800px;
    }
    @media (min-width: 1200px) {
        width: 900px;
    }
    @media (min-height: 750px) {
        max-height: 750px;
    }
    @media (min-height: 800px) {
        max-height: 90vh;
    }
    .closer {
        position:sticky;
        width:2rem;
        top:1rem;
        left:calc(100% - 3rem);
        &:hover {
            opacity:0.5;
            cursor: pointer;
        }
    }


    overflow:auto;
    position:relative;
    width:100%;
    background-color:var(--background);
}