// ==== Fonts ==== //
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&family=Roboto&display=swap');

$font-primary-serif: "Baloo Tammudu 2";
$font-primary-sans-serif: "Roboto";

// ==== Colors ==== //
$primary: #763CA0;
$secondary: #E65c20;
$tertiary: #0e0f0f;
$background: #ffffff;
$dark: #3a3637;

// CSS vars - don't know why but you can't use sass variables with them
:root {
  --primary: #763CA0;
  --primary-fade: #fd0536aa;
  --secondary: #E65c20;
  --tertiary: #a69658;
  --background: #f5f4f5;
  --dark: #3a3637;
}

// ==== Bulma globals ==== //
$link: $primary;
$info: $dark;
$body-background-color: #f4f6fa;
$family-primary: $font-primary-serif;
$family-secondary: $font-primary-sans-serif;

// Import bulma after you define variables
@import "../node_modules/bulma/sass/utilities/_all";
//@import "../node_modules/bulma/sass/base/_all";
//@import "../node_modules/bulma/sass/elements/_all";
//@import "../node_modules/bulma/sass/form/_all";
//@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/columns.sass";
//@import "../node_modules/bulma/sass/layout/_all";
@import "../node_modules/bulma/sass/elements/button.sass";


body {
  margin:0;
}

